@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
}

input[type="submit"],
button,
#close {
	cursor: pointer;
   font-family: 'Poppins',sans-serif;
}
/*MENU CENTER*/
.mytodo-list {
	position: absolute;
	top: 32%;
	left: 50%;
	transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  min-width: 90%;
  min-height: 50%;
}
.title {
text-align: center;
font-size: 45px;
  text-decoration: underline;
}
#CreateForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#CreateForm input[type="text"]{
  color: black;
  text-align: center;
}

#CreateForm input {
  width: 85%;
  height: 45px;
  padding: 8px;
  position: relative;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  color: #E4E5E8;
}
#CreateForm input:focus {
  outline: none;
  border-color: #0d75ec;
}
#CreateForm input[type="submit"]{
  position: relative;
  margin-top: 1%;
  font-size: 20px;
  width: 250px;
  background-color: #111218;
}

#UpdateForm {
	display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
#UpdateForm input[value="Update"]{
  margin-top: 5px;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #73D473;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-size: 20px;

}
#update-task {
  width: 85%;
  height: 45px;
  border-radius: 5px; 
  font-size: 15px;
  border: 2px solid #d1d3d4;
  text-align: center;
}
#update-task:focus {
  outline: none;
  border-color: #0d75ec;
}

#table, #counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}
#table th {
  font-size: 35px;
  font-weight: 500;
  text-decoration: underline;
}
#mytodo-tasks {
  font-size: 28px;
}
#mytodo-tasks td{
  display: flex;
}
.title-tasks{
  position: relative;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}
.btn-primary {
  border: none;
  background-color: #0d75ec;
  color: #ffffff;
  outline: none;
  width: 150px;
  height: 32px;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}
.btn-danger {
  border: none;
  background-color: #F92B2B;
  color: #ffffff;
  outline: none;
  width: 150px;
  height: 32px;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

/**/
 body{
  background-color: #111218;
}
 .fire {
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%, -25%);
  height: 150px;
  width: 150px;
}
 .fire .flames {
  position: absolute;
  bottom: 40%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translateX(-50%) rotate(45deg);
}
 .fire .flames .flame {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 0%;
  height: 0%;
  background-color: #FFDC01;
  border-radius: 1vw;
}
 .fire .flames .flame:nth-child(2n+1) {
  -webkit-animation: flameodd 1.5s ease-in infinite;
          animation: flameodd 1.5s ease-in infinite;
}
 .fire .flames .flame:nth-child(2n) {
  -webkit-animation: flameeven 1.5s ease-in infinite;
          animation: flameeven 1.5s ease-in infinite;
}
 .fire .flames .flame:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
 .fire .flames .flame:nth-child(2) {
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
}
 .fire .flames .flame:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
 .fire .flames .flame:nth-child(4) {
  -webkit-animation-delay: 1.125s;
          animation-delay: 1.125s;
}
 .fire .logs {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15%;
}
 .fire .logs:before,  .fire .logs:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  height: 100%;
  width: 100%;
  border-radius: 1vw;
  background-color: #70392F;
}
 .fire .logs:before {
  transform: translate(-50%, -50%) rotate(-20deg);
  background-color: #612E25;
}

@-webkit-keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}

@keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}
@-webkit-keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}
@keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: #FFDC01;
    z-index: 1000000;
  }
  40% {
    background-color: #FDAC01;
    z-index: 1000000;
  }
  100% {
    background-color: #F73B01;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}